<div>
    <img src="assets/hote.jpg"  style="width: 100% ;height: 700px;">
</div>
<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <div class="text-center">
                    <h1>Register</h1>
                    <h6 style="font-size: 18px;">please enter your information !!!</h6>
                </div>
                <form action="" [formGroup]="registerform" (ngSubmit)="proceedregisteration()">
                    <!-- <div class="mb-3">
                        <input type="number" class="form-control" formControlName="id"  placeholder="Cin">
                     </div> -->
                    <div class="mb-3">
                         <input type="text" class="form-control"  formControlName="nom" placeholder="First Name">
                         <small *ngIf="registerform.get('nom')?.invalid && registerform.get('nom')?.touched"class="text-danger">First Name is Required</small>

                      </div>
                      <div class="mb-3">
                       
                         <input type="text" class="form-control" formControlName="prenom" placeholder="Last Name">
                         <small *ngIf="registerform.get('prenom')?.invalid && registerform.get('prenom')?.touched"class="text-danger">Last Name is Required</small>

     
                      </div>
                      <div class="mb-3">
                       
                         <input type="date" class="form-control" formControlName="dateNaissance" placeholder="Date of Brith">
                         <small *ngIf="registerform.get('dateNaissance')?.invalid && registerform.get('dateNaissance')?.touched"class="text-danger">Date is Required</small>

                      </div>
                      <div class="mb-3">
                       
                         <input type="email" class="form-control" formControlName="email" placeholder="E-mail">
                         <small *ngIf="registerform.get('email')?.invalid && registerform.get('email')?.touched"class="text-danger">Email is Required</small>
                      </div>
                      <div class="mb-3">
                       
                        <div class="form-group">
                        <input [type]="changetype?'password':'text'" class="form-control" formControlName="password" placeholder="Password">
                       
                        <span class="eyeicon" (click)="viewPass()"><i [ngClass]="visible?'fa fa-eye':'fa fa-eye-slash'"></i></span>
                        <small *ngIf="registerform.get('password')?.invalid && registerform.get('password')?.touched"class="text-danger">Password is Required</small>
                        </div>
                      </div>
                      <div class="mb-3"> 
                         <input type="number" class="form-control" formControlName="phone" placeholder="Phone">
                         <small *ngIf="registerform.get('phone')?.invalid && registerform.get('phone')?.touched"class="text-danger">Phone is Required</small>
                      </div>
                      <!-- <div class="mb-3"  >
                        <div formControlName="gender">
                        <label for="Homme"> Homme&nbsp; </label>
                        <INPUT TYPE ="radio" NAME ="sexe" ID="Homme" VALUE="Homme" CHECKED >
                            <label for="Femme" style="margin-left: 55%;"> Femme&nbsp; </label>
                            <INPUT TYPE ="radio" NAME ="sexe" ID="Femme" VALUE="Femme">
                            </div>  
                     </div> -->
                     
                      
                     <div class="mb-3">
                        <mat-radio-group formControlName="gender"  >
                            <mat-radio-button value="male">Male</mat-radio-button>
                            <mat-radio-button value="female"style="margin-left:150px;" >Female</mat-radio-button>
                          </mat-radio-group>
                     </div>
                
                      <div class="d-flex justify-content-between">
                        <button type="submit" class="btn btn-primary"><i class="fa fa-check" aria-hidden="true"></i>&nbsp; Signup</button>
                        <a [routerLink]="['/login']" class="btn btn-link" style="text-decoration: none; color: aliceblue;">Login</a>
                      </div>         
                </form>
            </div>
        </div>
    </div>
</div> 
