<nav class="navbar bg-light fixed-top" >
  <div class="container-fluid">
    <a class="navbar-brand" href="#"><i class="fa fa-renren" aria-hidden="true" style="font-size: 30px; color: #6A5ACD;"></i></a>
    <a style="margin-left: auto; margin-right: 100px;"  [routerLink]="['hote']">Mode Hôte</a>
  
    <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"  aria-controls="offcanvasNavbar" style="color:#6A5ACD ;">
      <span class="navbar-toggler-icon" ></span>
    </button>
  </div>
</nav>
