<div class="about-section">
  <div class="inner-container">
    <div class="icon">
      <i class="fa fa-heart" aria-hidden="true"></i>
      <h1>We ? What We Do</h1>
    </div>
    <div class="text">
      <p>
        Bienvenue sur
        <i class="fa fa-home" aria-hidden="true">&nbsp; MaisonLoc</i><br>votre plateforme
        de réservation d'hébergements de qualité. Que vous soyez en voyage, en
        déplacement professionnel, en quête d'un lieu pour un événement spécial
        ou simplement à la recherche d'un endroit confortable pour un court
        séjour, nous sommes là pour vous aider à trouver l'hébergement parfait
        qui répond à vos besoins. <br> L'histoire de
        <i class="fa fa-home" aria-hidden="true">&nbsp; MaisonLoc </i> remonte à 2023,
        lorsque notre équipe d'enthousiastes du voyage et de professionnels de
        l'hospitalité s'est réunie autour d'une vision commune : faciliter
        l'accès à des hébergements exceptionnels pour tous. Depuis lors, nous
        nous sommes engagés à offrir une expérience de réservation transparente,
        conviviale et sans tracas pour notre vaste communauté d'utilisateurs.
        Chez <i class="fa fa-home" aria-hidden="true">&nbsp; MaisonLoc</i>,notre
        mission est de connecter les voyageurs et les personnes en quête
        d'hébergement à des options diverses et uniques. Que vous soyez un
        voyageur avide, un professionnel en déplacement, un organisateur
        d'événements ou que vous ayez simplement besoin d'un endroit confortable
        pour une courte période, notre plateforme vous propose une sélection
        soigneusement choisie d'hébergements de qualité. La satisfaction de nos
        utilisateurs est notre priorité absolue.
      </p>
      <a [routerLink]="['/home']" style="color:#483D8B; margin-left: 500px; font-size: 30px; text-decoration: none; font-weight: bold;"><i class="fa fa-arrow-left" aria-hidden="true"></i>&nbsp;Revenir&nbsp;<i class="fa fa-arrow-right" aria-hidden="true"></i></a>
    </div>
  </div>
</div>
